/vendor/
/runtime/
/web/assets/*
!/web/assets/branding/
!/web/assets/branding/**

/.phpunit.cache/
/.phpunit.result.cache
/.phpstan/
/.phpstan-cache/
/.psalm/
/.psalm-cache/
/coverage/

/.idea/
*.log
.env
.env.local
