parameters:
    level: 8
    paths:
        - src
        - config
        - public/index.php
    excludePaths:
        analyse:
            - vendor
            - runtime
            - public/assets
    tmpDir: .phpstan-cache
